
#Root {
  height: 100%;
  background-color: #f3f3f3;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.layout {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0;
  margin: auto;
  right: 0;
  display: flex;

  &-main {
    flex: 1;
  }
}
.footer-nav {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 56px;
}